{% set items = items|default(null) %}
{% set terms = terms|default(null) %}

<div class="details flex items-center">
	<ul class="features__list w-full">
		{% for item in items %}
			{% for term in terms %}
				{% if item.term_id == term.id %}
					<li class="features__list-item" data-feature="{{ item.name }}">{{ item.name }}</li>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>

	<div class="icon-wrapper flex">
		{% for detail in items %}
			{% for term in terms %}
				{% if detail.term_id == term.id %}

					{% if term.icon.url %}
					
						{% set get_number = term.slug|split('-', 2)[1]|split('-', 2)[1]|trim(' ')|convertToInteger %}
						{% set number = get_number != 0 ? get_number : 1 %}
						{% set file_name = term.icon.url|split('/', 8)[7] %}

						{% for i in 1..number %}
							{{ inlineSvg(term.icon.url) }}
						{% endfor %}

					{% endif %}

				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
</div>						

