{% set module_name = 'modal' %}
{% import "macros/svg-icons.twig" as svg %}

{% block content %}

	<div class="modal is-hidden w-full flex justify-center items-center items-center js-modal" data-module="{{ module_name }}">
		<div class="relative z-20 bg-white rounded-16 p-40 shadow">

			<div class="close absolute top-20 right-20 cursor-pointer js-close">
				{{ svg.svgSpriteIcon('text-dark-fuchsia h-24 w-24', 'close') }}
			</div>
			<div class="module--inner" id="">
				<div class="module-header mb-20">
					<h2 class="heading-2"></h2>
				</div>

				<div class="module-main">

				</div>
			</div>
		</div>


	</div>

{% endblock %}
