/* Override Ninja forms styling */

.nf-form-cont {
	@apply p-0 pt-40 !important;
}

.nf-form-content {
	@apply w-[350px];
}

.nf-form-content label {
	@apply text-16 font-400 !important;
}

.nf-form-content input:not([type="button"]) {
	background: unset !important;
	border: auto !important;
	border-radius: unset !important;
	color: unset !important;

	@apply p-10 h-auto bg-white rounded-8 border-1 border-light-fuchsia focus:bg-light-fuchsia !important;
}

.nf-form-content textarea {
	background: unset !important;
	border: auto !important;
	border-radius: unset !important;
	color: unset !important;
	height: unset !important;

	@apply p-10 h-100 bg-white text-blue-black
		rounded-8 border-1 border-light-fuchsia focus:bg-light-fuchsia !important;
}

.nf-form-content input[type="button"] {
	background: unset !important;
	border: unset !important;
	color: unset !important;

	@apply h-auto rounded-full p-10 bg-light-fuchsia text-white cursor-pointer
		hover:text-light-fuchsia transition
		bg-gradient-to-r from-[#de1898] to-royal-fuchsia !important;
}

.nf-pass.field-wrap .nf-field-element::after {
	background: url("../img/checkmark.svg") !important;
	background-repeat: no-repeat !important;
	color: unset !important;
	font-family: unset !important;
	font-size: 30px;
	content: "" !important;
	position: absolute;
	top: 0;
	right: -40px !important;
	height: 50px;
	line-height: 50px;
	transition: all 0.5s;
}

.nf-error.field-wrap .nf-field-element::after {
	display: none;
}

.nf-error-msg,
.ninja-forms-req-symbol {
	@apply text-14 text-dark-fuchsia !important;
}

.nf-before-form-content {
	@apply hidden;
}

.nf-response-msg {
	@apply leading-24;
}

.nf-after-form-content .nf-form-errors {
	@apply text-center !important;
}

.nf-response-msg {
	@apply text-center;
}
