{% set block_classes = block_classes|default(null) %}
{% set block_name = block_name|default(false) %}
{% set block_styles = block_styles|default(false) %}

{% if  block_name %}
	<div class="block-container {{ block_classes }}" style="{{ block_styles }}" data-block="{{ block_name }}" data-block-id="{{ block.id }}">
		{% block content %}{% endblock %}
	</div>
{% else %}
	<div>
		<pre>
			Missing 'block_name'
		</pre>
	</div>
{% endif %}
