{% set module_name = module_name|default(false) %}
{% set module_classes = module_classes|default(false) %}

{% if  module_name %}
	<div class="module-container {{ module_classes|default('') }}" data-module="{{ module_name }}">
		{% block module %}{% endblock %}
	</div>
{% else %}
	<div>
		<pre>
			Missing { module_name }
		</pre>
	</div>
{% endif %}
