{% extends "layouts/block.twig" %}

{% set block_name = 'acf-activities' %}

{% block content %}
	
	{# @see ThemeManager.php #}
	{% set timber_terms = getTimberTerms('activities') %}
	{% set parent_terms = processParentTerms('activities') %}

	<div class="block--inner">

		{% if block_fields.amenities_title or block_fields.amenities_description %}
			<div class="block-header mb-20">
				<h2 class="heading-2 mb-20">{{ block_fields.amenities_title }}</h2>
				<p class="p-body">{{ block_fields.amenities_description }}</p>
			</div>
		{% endif %}

		{% include 'modules/terms.twig' with {
			term_name: 'activities',
			fields: block_fields.activities,
			timber_terms: timber_terms,
			parent_terms: parent_terms
		} %}
	</div>

{% endblock %}