{% extends 'layouts/base.twig' %}

{% block page %}

	<div class="wrapper page-container">
		<div class="page-heading container py-40 px-20 md:px-40 lg:px-60">
			<h1 class="heading-1">404 Page Not Found</h1>
		</div>
		<div class="text-wrapper text-center">
			<p class="text-18">Sorry, we can't find that page. Return <a class="hover:text-dark-fuchsia" href="{{ site.url }}">home</a></p>
		</div>
	</div>

{% endblock %}

