@font-face {
  font-family: "Vladimir Script Regular";
  src: url("../fonts/VladimirScriptRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Walbaum Display Regular";
  src: url("../fonts/WalbaumDisplayRegular.ttf") format("truetype");
}


